<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525743323156-vvcc049os22u7kmfj7vcoej58oosrehj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525743323156-vvcc049os22u7kmfj7vcoej58oosrehj</string>
	<key>API_KEY</key>
	<string>AIzaSyD8I8tQj9kfW1ZWUqzTPasVXLNp-igQmXg</string>
	<key>GCM_SENDER_ID</key>
	<string>525743323156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ff</string>
	<key>PROJECT_ID</key>
	<string>lost-found-project</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-found-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525743323156:ios:c0bd50207286ba72bf0f01</string>
</dict>
</plist>